@page
@model KDLibrary.Pages.BrainTraumaModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Brain Trauma";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Kapitel:Brain Trauma</h1>
        <p>
            <img src="~/Images/sida089 - Brain Trauma.png" />
        </p>
    </div>
}
else
{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}