@page
@model KDLibrary.Pages.BrainTraumaModel
@{
    ViewData["Title"] = "Brain Trauma";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Brain Trauma</h1>
    <p>
        <img src="~/Images/sida089 - Brain Trauma.png" />
    </p>
</div>