@page
@model KDLibrary.Pages.HuntEventsModel
@{
    ViewData["Title"] = "Hunt Events";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Hunt Events</h1>
    <p>
        <img src="~/Images/sida090 - Hunt Event Table.png" />
        <img src="~/Images/sida091 - Hunt Events.png" />
        <img src="~/Images/sida092 - Hunt Events.png" />
        <img src="~/Images/sida093 - Hunt Events.png" />
        <img src="~/Images/sida094 - Hunt Events.png" />
        <img src="~/Images/sida095 - Hunt Events.png" />
        <img src="~/Images/sida096 - Hunt Events.png" />
        <img src="~/Images/sida097 - Hunt Events.png" />
        <img src="~/Images/sida098 - Hunt Events.png" />
        <img src="~/Images/sida099 - Hunt Events.png" />
        <img src="~/Images/sida100 - Hunt Events.png" />
        <img src="~/Images/sida101 - Hunt Events.png" />
        <img src="~/Images/sida102 - Hunt Events.png" />
        <img src="~/Images/sida103 - Hunt Events.png" />
        <img src="~/Images/sida104 - Hunt Events.png" />
        <img src="~/Images/sida105 - Hunt Events.png" />
    </p>
</div>