@page
@model KDLibrary.Pages.HuntPhaseModel
@{
    ViewData["Title"] = "HuntPhase";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:HuntPhase</h1>
    <p>
        <img src="~/Images/sida061 - Hunt Phase.png" />
        <img src="~/Images/sida062 - Hunt Phase.png" />
        <img src="~/Images/sida063 - Hunt Phase.png" />
    </p>
</div>
