@page
@model IndexModel
@{
    ViewData["Title"] = "Prologe";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Kapitel:Prologe</p>
    <p>
        
        <img src="~/Images/Sida002 - Prologe.png" />
        <img src="~/Images/sida003 - Prologe.png" />
        <img src="~/Images/sida022 - Prologe.png" />
        <img src="~/Images/sida023 - Prologe.png" />
        <img src="~/Images/sida024 - Prologe.png" />
        <img src="~/Images/sida025 - Prologe.png" />
        <img src="~/Images/sida026 - Prologe.png" />
        <img src="~/Images/sida027 - Prologe.png" />
        <img src="~/Images/sida028 - Prologe.png" />
        <img src="~/Images/sida029 - Prologe.png" />
        <img src="~/Images/sida030 - Prologe.png" />
        <img src="~/Images/sida031 - Prologe.png" />
        <img src="~/Images/sida032 - Prologe.png" />
        <img src="~/Images/sida033 - Prologe.png" />
        <img src="~/Images/sida034 - Prologe.png" />
        <img src="~/Images/sida035 - Prologe.png" />
        <img src="~/Images/sida036 - Prologe.png" />
        <img src="~/Images/sida037 - Prologe.png" />
        <img src="~/Images/sida038 - Prologe.png" />
        <img src="~/Images/sida039 - Prologe.png" />

    </p>
   
</div>
