@page
@model KDLibrary.Pages.MonstersModel
@{
    ViewData["Title"] = "Monsters";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Monsters</h1>
    <p></p>
    <p>
        <img src="~/Images/sida049 - Monsters.png" />
        <img src="~/Images/sida050 - Monsters.png" />
        <img src="~/Images/sida051 - Monsters.png" />
        <img src="~/Images/sida052 - Monsters.png" />
        <img src="~/Images/sida053 - Monsters.png" />
        <img src="~/Images/sida054 - Monsters.png" />
        <img src="~/Images/sida055 - Monsters.png" />
    </p>
</div>