@page
@model KDLibrary.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Resources</h1>
    <p>
        <img src="~/Images/sida056 - Resources.png" />
        <img src="~/Images/sida057 - Resources.png" />
    </p>
</div>