@page
@model KDLibrary.Pages.SettlementPhaseModel
@{
    ViewData["Title"] = "Settlement Phase";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Settlement Phase</h1>
    <p>
        <img src="~/Images/sida081 - Settlement Phase.png" />
        <img src="~/Images/sida082 - Settlement Phase.png" />
        <img src="~/Images/sida083 - Settlement Phase.png" />
        <img src="~/Images/sida084 - Settlement Phase.png" />
        <img src="~/Images/sida085 - Settlement Phase.png" />
        
    </p>
</div>

