@page
@model KDLibrary.Pages.SevereInjuriesModel
@{
    ViewData["Title"] = "Severe Injuries";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Severe Injuries</h1>
    <p>
        <img src="~/Images/sida086 - Severe Injuries.png" />
        <img src="~/Images/sida087 - Severe Injuries.png" />
    </p>
</div>

