@page
@model KDLibrary.Pages.ShowDownPhaseModel
@{
    ViewData["Title"] = "ShowdownPhase";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Showdown Phase</h1>
    <p>
        <img src="~/Images/sida065 - Showdown Phase.png" />
        <img src="~/Images/sida066 - Showdown Phase.png" />
        <img src="~/Images/sida067 - Showdown Phase.png" />
        <img src="~/Images/sida068 - Showdown Phase.png" />
        <img src="~/Images/sida069 - Showdown Phase.png" />
        <img src="~/Images/sida070 - Showdown Phase.png" />
        <img src="~/Images/sida071 - Showdown Phase.png" />
        <img src="~/Images/sida072 - Showdown Phase.png" />
        <img src="~/Images/sida073 - Showdown Phase.png" />
        <img src="~/Images/sida074 - Showdown Phase.png" />
        <img src="~/Images/sida075 - Showdown Phase.png" />
        <img src="~/Images/sida076 - Showdown Phase.png" />
        <img src="~/Images/sida077 - Showdown Phase.png" />
        <img src="~/Images/sida078 - Showdown Phase.png" />
        <img src="~/Images/sida079 - Showdown Phase.png" />
    </p>
</div>
