@page
@model KDLibrary.Pages.SurvivorsModel
@{
    ViewData["Title"] = "Survivors";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Survivors</h1>
    
    <p>
        <img src="~/Images/sida041 - Survivors.png" />
        <img src="~/Images/sida042 - Survivors.png" />
        <img src="~/Images/sida043 - Survivors.png" />
        <img src="~/Images/sida044 - Survivors.png" />
        <img src="~/Images/sida045 - Survivors.png" />
        <img src="~/Images/sida046 - Survivors.png" />
        <img src="~/Images/sida047 - Survivors.png" />
    </p>
</div>
