@page
@model KDLibrary.Pages.TerrainModel
@{
    ViewData["Title"] = "Terrain";
}

<div class="text-center">
    <h1 class="display-4">Kapitel:Terrain</h1>
    <p>
        <img src="~/Images/sida059 - Terrain.png" />
    </p>
</div>